<div>
  <clr-modal [clrModalOpen]="viewPage=='delete_plugin'" [clrModalSize]="'sm'" [clrModalClosable]="false">
    <h3 class="modal-title">{{'nfs.del.title' | translate}}</h3>
    <div class="modal-body">
      <p *ngIf="errorMsg" style="color: red">{{'errorMsg.deleteError' | translate}}</p>
      <div *ngIf="modalLoading" class="loadingDiv">
      <span>
        {{'vmfs.loadingTips' | translate}}<img src="./assets/images/loading.gif"  width="20px" height="20px" style="margin-left: 20px;">
      </span>
      </div>
      <div *ngIf="modalHandleLoading" class="loadingDiv">
      <span>
        {{'vmfs.dataHandleLoadingTips' | translate}}<img src="./assets/images/loading.gif"  width="20px" height="20px" style="margin-left: 20px;">
      </span>
      </div>
      <p>{{'nfs.del.content' | translate}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="backToNfsList()">{{'menu.cancel' | translate}}</button>
      <button type="button" class="btn btn-primary" (click)="delNfs()">{{'menu.ok' | translate}}</button>
    </div>
  </clr-modal>
  <clr-modal  class="add-wizard-wrap" [clrModalOpen]="viewPage=='delete_vcenter'" [clrModalSize]="'sm'" [clrModalClosable]="false">
      <div class="modal-body">
          <p *ngIf="errorMsg" style="color: red">{{'errorMsg.deleteError' | translate}}</p>
          <div *ngIf="modalLoading" class="loadingDiv">
        <span>
          {{'vmfs.loadingTips' | translate}}<img src="./assets/images/loading.gif"  width="20px" height="20px" style="margin-left: 20px;">
        </span>
          </div>
          <div *ngIf="modalHandleLoading" class="loadingDiv">
        <span>
          {{'vmfs.dataHandleLoadingTips' | translate}}<img src="./assets/images/loading.gif"  width="20px" height="20px" style="margin-left: 20px;">
        </span>
          </div>
          <p>{{'nfs.del.content' | translate}}</p>
      </div>
      <div style="float: right" class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="closeModel()">{{'menu.cancel' | translate}}</button>
        <button type="button" class="btn btn-primary" (click)="delNfs()">{{'menu.ok' | translate}}</button>
      </div>
  </clr-modal>
  <!--操作成功提示-->
  <clr-modal [(clrModalOpen)]="delSuccessShow" [clrModalSize]="'sm'" [clrModalClosable]="false">
    <h3 class="modal-title modelTile">{{'vmfs.reclaim.title' | translate}}</h3>
    <div class="modal-body">
      <p *ngIf="delSuccessShow">{{'vmfs.del.success' | translate}}</p>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" (click)="delSuccessShow = false;confirmActResult();">{{'menu.ok' | translate}}</button>
    </div>
  </clr-modal>
</div>
