.count-wrap{
  display: flex;
}
.count-item{
  margin: 0 30px;
  .num{
    font-size: 24px;
    font-weight: bold;
    color: #565656;
  }
  .color-divide{
    width: 70px;
    height: 4px;
    border-radius: 4px;
    margin: 8px 0;
  }
  .critical{
    background-color: #ca2200;
  }
  .major{
    background-color: #f0c004;
  }
  .warning{
    background-color: #fee273;
  }
  .info{
    background-color: #79c6e6;
  }
  .text{
    font-size: 14px;
    color: #9e9e9e;
  }
}
// 进度条样式开始
.progress-container{
  margin-bottom: 20px;
  .progress-item{
    display: flex;
    align-items: center;
  }
}
.progress-item{
  .progress-label{
    width: 100px;
    font-size: 16px;
    color: #9e9e9e;
  }
  .progress-default{
    position: relative;
    width: 400px;
    height: 16px;
    background-color: hsl(198, 0%, 87%);
    .progress-inner{
      height: 16px;
      background-color: hsl(198, 100%, 32%);
    }
    .warning{
      background-color: #f0c004;
    }
  }
  .progress-text{
    margin-left: 10px;
    font-size: 16px;
    .percent{
      color: black;
      font-weight: bold;
    }
    .unit{
      color: #9e9e9e;
    }
  }
}
// 进度条样式结束
// demo示例
.capacity-wrap{
  //border: 1px red solid;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  .capacity-label{
    //border: 1px red solid;
    width: 100px;
  }
}
.capacity-span{
  //border: 1px red solid;
  width: 100px;
}
.capacity-span2{
  //border: 1px red solid;
  font-size: 10px;
  width: 150px;
}
.num-bar_outer{
  width: 280px;
  height: 16px;
  margin-right: 30px;
  display: flex;
  .num-bar_inner{
    width: 100%;
    height: 16px;
    background-color:hsl(198, 100%, 32%);
    border-radius: 2px;
  }
  .total{
    background-color: hsl(198, 100%, 32%);
  }
  .used{
    background-color: hsl(198, 100%, 32%);
  }
  .free{
    background-color: hsl(198, 83%, 94%);
  }
}
// 示例2
.availability-box{
  width: 100%;
  //border: 1px red solid;
}
.unit-banner{
  display: flex;
  border-bottom: solid 2px #9e9e9e;
  padding-bottom: 5px;
}
.unit-label{
  width: 100px;
  color: hsl(198, 0%, 0%);
}
.unit-tips{
  width: 100px;
  color: hsl(198, 0%, 0%);
  font-weight: lighter;
}
.unit-outer{
  width: 300px;
  display: flex;
  align-items: center;
  .num{
    margin-left: 2px;
  }
}
.capacity-line{
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.unit-inner_bar{
  height: 12px;
  background-color: hsl(198, 100%, 32%);
}
.detail-outer{
  //border: 1px red solid;
  height: 100%;
  width: 100%;
  background-color:#F0F2F5 ;
}
.detail-header{
  //border: 1px green solid;
  height: 5%;
  position: relative;
}
.detail-header-font{
  font-size: 18px;
  position: absolute;
  transform: translateY(-50%);
  margin-left: 20px;
}
.detail-content{
  //border: 1px blue solid;
  height: 94%;
  padding: 2%;
  margin: 1%;
  background-color: #FFFFFF;
}
.detail-margin-top{
  margin-top: 1%;
}
.color-square {
  display: inline-block;
  vertical-align: text-bottom;
  height: .7rem;
  width: .7rem;
  border: .05rem solid #000;
  border-radius: 2rem;
}
.info-content-text .volume{
  background-color: #6C92FA;
  display: inline-block;
  vertical-align: text-bottom;
  height: .7rem;
  width: .7rem;
  border: .05rem solid #6C92FA;
  border-radius: 2rem;
}
.info-content-text .protection{
  background-color: #3DCCA6;
  display: inline-block;
  vertical-align: text-bottom;
  height: .7rem;
  width: .7rem;
  border: .05rem solid #3DCCA6;
  border-radius: 2rem;
}
.info-content-text .fs{
  background-color: #E5C335;
  display: inline-block;
  vertical-align: text-bottom;
  height: .7rem;
  width: .7rem;
  border: .05rem solid #E5C335;
  border-radius: 2rem;
}
.info-content-text .free{
  background-color: #E6E6E6;
  display: inline-block;
  vertical-align: text-bottom;
  height: .7rem;
  width: .7rem;
  border: .05rem solid #E6E6E6;
  border-radius: 2rem;
}
.d-info-content-title{
  font-size: 18px;
  color: #303133;
}
.d-info-charts-wrap{
  display: flex;
  align-items: center;
  color: #303133;
  font-size: 16px;
}
.d-info-content{
  margin-left: 0px;
}
.d-info-content-text{
 // border: 1px #6C92FA solid;
  margin: 10px 0;
  padding-left: 10px;
  position: relative;
  line-height: 22px;
  span:first-child{
    width: 80px;
    display: inline-block;
  }
  .squre{
    position: absolute;
    left: -13px;
    top: 4px;
    width: 14px;
    height: 14px;
  }
  .volume{
    background-color: #6C92FA;
    border-radius: 1px;
    border-radius: 2rem;
  }
  .protection{
    background-color: #3DCCA6;
    border-radius: 1px;
    border-radius: 2rem;
  }
  .fs{
    background-color: #E5C335;
    border-radius: 1px;
    border-radius: 2rem;
  }
  .free{
    background-color: #E6E6E6;
    border-radius: 1px;
    border-radius: 2rem;
  }
}
.over_flow{
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
}

::ng-deep .pageSet .mat-paginator-navigation-previous{
  margin-right: 44px;
}

::ng-deep .pageSet .mat-paginator-navigation-next{
  margin-left: 20px;
}

.jumpPageClass{
  position: absolute;
  top: 18px;
  right: 120px;
  width: 31px;
  text-align: center;
  font-size: 12px;
}

.totalPageClass{
  border: none;
  width: 31px;
  position: absolute;
  text-align: center;
  top: 20px;
  right: 89px;
  background-color: white;
  font-size: 12px;
}

// 隐藏input标签箭头
input[type=number] {

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  -moz-appearance: textfield;
}
::ng-deep .num-bar_outer .progress, .progress-static {
  height: 16px;
  max-height: none;
}

