<div *ngIf="fsDetails && fsDetails.length!=0">
  <clr-select-container>
    <select clrSelect (ngModelOptions)="fsNames" [(ngModel)]="defaultSelect" name="defaultSelect" class="clr-select" (change)="changeFs()">
      <option *ngFor="let item of fsNames" value="{{item}}">{{item}}</option>
    </select>
  </clr-select-container>
  <table class="table table-noborder">
    <tr>
      <td class="left">{{'nfs.fs.name' | translate}}</td>
      <td class="left">{{fsDetail.name}}</td>
      <td class="left">{{'nfs.fs.device' | translate}}</td>
      <td class="left">{{fsDetail.device}}</td>
    </tr>
    <tr>
      <td class="left">{{'nfs.fs.storagePool' | translate}}</td>
      <td class="left">{{fsDetail.storagePoolName}}</td>

      <td class="left">{{'nfs.fs.controller' | translate}}</td>
      <td class="left">{{fsDetail.controller}}</td>
    </tr>
    <tr>
      <td class="left">{{'nfs.fs.provisionType' | translate}}</td>
      <td class="left">{{fsDetail.provisionType}}</td>
      <td class="left">{{'nfs.fs.appSce' | translate}}</td>
      <td class="left">{{fsDetail.applicationScenario}}</td>
    </tr>
    <tr>
      <td class="left">{{'nfs.fs.dataDed' | translate}}</td>
      <td class="left">{{fsDetail.dataDeduplication}}</td>

      <td class="left">{{'nfs.fs.dataCom' | translate}}</td>
      <td class="left">{{fsDetail.dateCompression}}</td>
    </tr>
  </table>
</div>
<div *ngIf="!fsDetails">
  无
</div>
