<div>
  <clr-modal [clrModalOpen]="viewPage=='modify_plugin'" [clrModalClosable]="false">
    <h3 class="modal-title">{{'menu.modify' | translate}}</h3>
    <div class="modal-body">
      <p *ngIf="errorMsg" style="color: red">{{'errorMsg.modifyError' | translate}}</p>
      <div *ngIf="modalLoading" class="loadingDiv">
      <span>
        {{'vmfs.loadingTips' | translate}}<img src="./assets/images/loading.gif"  width="20px" height="20px" style="margin-left: 20px;">
      </span>
      </div>
      <div *ngIf="modalHandleLoading" class="loadingDiv">
      <span>
        {{'vmfs.dataHandleLoadingTips' | translate}}<img src="./assets/images/loading.gif"  width="20px" height="20px" style="margin-left: 20px;">
      </span>
      </div>
      <form  clrForm #formPageOne="ngForm">
        <!--名称-->
        <clr-input-container>
          <label>{{'nfs.name' | translate}}</label>
          <input clrInput name="nfsName" [(ngModel)]="updateNfs.nfsName" maxlength="256" (blur)="checkNfsName();"/>
          <clr-control-error>
            <p *ngIf="!oldNfsName" style="color: red">{{'errorMsg.require' | translate}}</p>
            <p *ngIf="matchErr" style="color: red">{{'errorMsg.numberAndLetter' | translate}}</p>
            <p *ngIf="nfsNameRepeatErr" style="color: red">{{'errorMsg.fsrepeat' | translate}}</p>
              <p *ngIf="fsNameRepeatErr" style="color: red">{{'errorMsg.fsrepeat' | translate}}</p>
              <p *ngIf="shareNameRepeatErr" style="color: red">{{'errorMsg.sharerepeat' | translate}}</p>
          </clr-control-error>
        </clr-input-container>
        <clr-checkbox-container>
          <label></label>
          <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox [(ngModel)]="updateNfs.sameName" name="sameName" />
            <label>{{'nfs.modifySameName' | translate}}</label>
          </clr-checkbox-wrapper>
        </clr-checkbox-container>
        <clr-input-container *ngIf="!updateNfs.sameName">
          <label>{{'nfs.fsName' | translate}}</label>
          <input clrInput [(ngModel)]="updateNfs.fsName" maxlength="256" name="fsName" (blur)="checkFsName();"/>
          <clr-control-error>
            <p *ngIf="!oldFsName" style="color: red">{{'errorMsg.require' | translate}}</p>
            <p *ngIf="matchErr" style="color: red">{{'errorMsg.numberAndLetter' | translate}}</p>
            <p *ngIf="fsNameRepeatErr" style="color: red">{{'errorMsg.fsrepeat' | translate}}</p>
          </clr-control-error>
        </clr-input-container>
<!--        <clr-input-container *ngIf="!updateNfs.sameName">-->
<!--          <label>{{'nfs.shareName' | translate}}</label>-->
<!--          <input clrInput [(ngModel)]="updateNfs.shareName" maxlength="256" name="shareName" (blur)="checkShareName();" />-->
<!--          <clr-control-error>-->
<!--            <p *ngIf="!oldShareName" style="color: red">{{'errorMsg.require' | translate}}</p>-->
<!--            <p *ngIf="matchErr" style="color: red">{{'errorMsg.numberAndLetter' | translate}}</p>-->
<!--            <p *ngIf="shareNameRepeatErr" style="color: red">{{'errorMsg.sharerepeat' | translate}}</p>-->
<!--          </clr-control-error>-->
<!--        </clr-input-container>-->
        <!--qos-->
        <clr-toggle-wrapper>
          <label>{{'nfs.qosPolicy' | translate}}</label>
          <input type="checkbox" clrToggle name="qosFlag" [(ngModel)]="updateNfs.qosFlag"/>
        </clr-toggle-wrapper>
        <div *ngIf="updateNfs.qosFlag">
          <clr-radio-container clrInline >
            <label class="floatleft">{{'nfs.controlPolicy' | translate}}</label>
            <clr-radio-wrapper>
              <input type="radio" clrRadio name="controlPolicy" required value="up" [(ngModel)]="updateNfs.contolPolicy" />
              <label>{{'nfs.ulc' | translate}}</label>
            </clr-radio-wrapper>
            <clr-radio-wrapper>
              <input type="radio" clrRadio name="controlPolicy" required value="low" [(ngModel)]="updateNfs.contolPolicy" />
              <label>{{'nfs.llc' | translate}}</label>
            </clr-radio-wrapper>
          </clr-radio-container>
          <div *ngIf="updateNfs.contolPolicy">
            <!--<clr-radio-container *ngIf="updateNfs.contolPolicy==='up'">-->
              <!--<label>{{'nfs.tfo' | translate}}</label>-->
              <!--<clr-radio-wrapper>-->
                <!--<input type="radio" clrRadio required value="1" />-->
                <!--<label>{{'nfs.qos_bandwidth' | translate}}<=<input class="inputOneLine" type="text" name="maxBandwidth" [(ngModel)]="updateNfs.maxBandwidth"> MB/s</label>-->
              <!--</clr-radio-wrapper>-->
              <!--<clr-radio-wrapper>-->
                <!--<input type="radio" clrRadio name="tfo" required value="2"/>-->
                <!--<label>{{'nfs.qos_iops' | translate}}<=<input class="inputOneLine" type="text" [(ngModel)]="updateNfs.maxIops" name="maxIops"> MB/s</label>-->
              <!--</clr-radio-wrapper>-->
            <!--</clr-radio-container>-->
            <!--<clr-radio-container *ngIf="updateNfs.contolPolicy==='low'">-->
              <!--<label>{{'nfs.tfo' | translate}}</label>-->
              <!--<clr-radio-wrapper>-->
                <!--<input type="radio" clrRadio name="tfo" required value="1"/>-->
                <!--<label>{{'nfs.qos_bandwidth' | translate}}>=<input class="inputOneLine" type="text" name="minBandwidth" [(ngModel)]="updateNfs.minBandwidth"> MB/s</label>-->
              <!--</clr-radio-wrapper>-->
              <!--<clr-radio-wrapper>-->
                <!--<input type="radio" clrRadio name="tfo" required/>-->
                <!--<label>{{'nfs.qos_iops' | translate}}>=<input class="inputOneLine" type="text" [(ngModel)]="updateNfs.minIops" name="minIops"> MB/s</label>-->
              <!--</clr-radio-wrapper>-->
              <!--<clr-radio-wrapper>-->
                <!--<input type="radio" clrRadio name="tfo" required value="3"/>-->
                <!--<label>{{'nfs.qos_latency' | translate}}<=<input class="inputOneLine" type="text" [(ngModel)]="updateNfs.latency" name="latency"> ms</label>-->
              <!--</clr-radio-wrapper>-->
            <!--</clr-radio-container>-->
            <!-- 交通管制对象 带宽 上限-->
            <clr-checkbox-container *ngIf="updateNfs.contolPolicy==='up'">
              <label>{{'vmfs.trafficControlObject' | translate}}</label>
              <clr-checkbox-wrapper>
                <input type="checkbox" [(ngModel)]="updateNfs.maxBandwidthChoose" name="maxbandwidthChoose" clrCheckbox/>
                <label>
                  {{'vmfs.bandwidthLimitUpper' | translate}}
                  <input type="number" min="0" [(readOnly)]="!updateNfs.maxBandwidthChoose" class="inputOneLine" name="maxBandwidth"
                         [(ngModel)]="updateNfs.maxBandwidth" (blur)="qosBlur('add', 'maxbandwidth');"/>
                  {{'vmfs.unitM' | translate}}
                </label>
              </clr-checkbox-wrapper>
            </clr-checkbox-container>
            <!-- 交通管制对象 IOPS 上限-->
            <clr-checkbox-container *ngIf="updateNfs.contolPolicy==='up'">
              <label></label>
              <clr-checkbox-wrapper>
                <input type="checkbox" [(ngModel)]="updateNfs.maxIopsChoose" name="maxiopsChoose" clrCheckbox/>
                <label>
                  {{'vmfs.IOPSLimitUpper' | translate}}
                  <input type="number" min="0" [(readOnly)]="!updateNfs.maxIopsChoose" class="inputOneLine" name="maxIops"
                         [(ngModel)]="updateNfs.maxIops" (blur)="qosBlur('add', 'maxiops');"/>
                </label>
              </clr-checkbox-wrapper>
            </clr-checkbox-container>

            <!-- 交通管制对象 带宽 下限-->
            <clr-checkbox-container *ngIf="updateNfs.contolPolicy==='low'">
              <label>{{'vmfs.trafficControlObject' | translate}}</label>
              <clr-checkbox-wrapper>
                <input type="checkbox" [(ngModel)]="updateNfs.minBandwidthChoose" name="minbandwidthChoose" clrCheckbox/>
                <label>
                  {{'vmfs.bandwidthLimitLower' | translate}}
                  <input type="number" min="0" [(readOnly)]="!updateNfs.minBandwidthChoose" class="inputOneLine"
                         name="minBandwidth" [(ngModel)]="updateNfs.minBandwidth" (blur)="qosBlur('add', 'minbandwidth');"/>
                  {{'vmfs.unitM' | translate}}
                </label>
              </clr-checkbox-wrapper>
            </clr-checkbox-container>
            <!-- 交通管制对象 IOPS 下限-->
            <clr-checkbox-container *ngIf="updateNfs.contolPolicy==='low'">
              <label></label>
              <clr-checkbox-wrapper>
                <input type="checkbox" [(ngModel)]="updateNfs.minIopsChoose" name="minbandwidthChoose" clrCheckbox/>
                <label>
                  {{'vmfs.IOPSLimitLower' | translate}}
                  <input type="number" min="0" [(readOnly)]="!updateNfs.minIopsChoose" class="inputOneLine" name="minIops"
                         [(ngModel)]="updateNfs.minIops" (blur)="qosBlur('add', 'miniops');"/>
                </label>
              </clr-checkbox-wrapper>
            </clr-checkbox-container>
            <!-- 交通管制对象 latency 时延-->
            <clr-checkbox-container *ngIf="updateNfs.contolPolicy==='low'">
              <label></label>
              <clr-checkbox-wrapper>
                <input type="checkbox" [(ngModel)]="updateNfs.latencyChoose" name="latencyChoose" clrCheckbox/>
                <label>
                  {{'vmfs.latencyMax' | translate}}
                  <input type="number" min="0" [(readOnly)]="!updateNfs.latencyChoose" class="inputOneLine" name="latency"
                         [(ngModel)]="updateNfs.latency" (blur)="qosBlur('add', 'latency');"/>{{'vmfs.latencyUnit' | translate}}
                </label>
              </clr-checkbox-wrapper>
            </clr-checkbox-container>
          </div>
        </div>
        <!--thin-->
        <clr-toggle-wrapper>
          <label> {{'nfs.thin' | translate}}</label>
          <input type="checkbox" name="thin" clrToggle [(ngModel)]="updateNfs.thin"/>
        </clr-toggle-wrapper>
        <!--重删-->
        <clr-select-container class="selectClass">
          <label>{{'nfs.dataDedu' | translate}}</label>
          <select clrSelect [(ngModel)]="updateNfs.deduplicationEnabled" name="deduplicationEnabled">
            <option value="false">{{'nfs.disable' | translate}}</option>
            <option value="true">{{'nfs.enable' | translate}}</option>
          </select>
        </clr-select-container>
        <!--压缩-->
        <clr-select-container class="selectClass">
          <label>{{'nfs.dataCompre' | translate}}</label>
          <select clrSelect [(ngModel)]="updateNfs.compressionEnabled" name="compressionEnabled">
            <option value="false">{{'nfs.disable' | translate}}</option>
            <option value="true">{{'nfs.enable' | translate}}</option>
          </select>
        </clr-select-container>
        <clr-toggle-wrapper >
          <label>{{'nfs.capAuto' | translate}}</label>
          <input type="checkbox" clrToggle [(ngModel)]="updateNfs.autoSizeEnable" name="autoSizeEnable"/>
        </clr-toggle-wrapper>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="backToNfsList()">{{'menu.cancel' | translate}}</button>
      <button type="button" class="btn btn-primary" (click)="modifyCommit()">{{'menu.ok' | translate}}</button>
    </div>
  </clr-modal>
  <clr-modal class="add-wizard-wrap" [clrModalOpen]="viewPage=='modify_vcenter'" [clrModalClosable]="false">
    <h3 class="modal-title">{{'menu.modify' | translate}}</h3>
    <div class="modal-body">
      <p *ngIf="errorMsg" style="color: red">{{'errorMsg.modifyError' | translate}}</p>
      <div *ngIf="modalLoading" class="loadingDiv">
      <span>
        {{'vmfs.loadingTips' | translate}}<img src="./assets/images/loading.gif"  width="20px" height="20px" style="margin-left: 20px;">
      </span>
      </div>
      <div *ngIf="modalHandleLoading" class="loadingDiv">
      <span>
        {{'vmfs.dataHandleLoadingTips' | translate}}<img src="./assets/images/loading.gif"  width="20px" height="20px" style="margin-left: 20px;">
      </span>
      </div>
      <form  clrForm #formPageOne="ngForm">
        <!--名称-->
        <clr-input-container>
          <label>{{'nfs.name' | translate}}</label>
          <input clrInput name="nfsName" [(ngModel)]="updateNfs.nfsName" maxlength="256" (blur)="checkNfsName();"/>
          <clr-control-error>
            <p *ngIf="!oldNfsName" style="color: red">{{'errorMsg.require' | translate}}</p>
            <p *ngIf="matchErr" style="color: red">{{'errorMsg.numberAndLetter' | translate}}</p>
            <p *ngIf="nfsNameRepeatErr" style="color: red">{{'errorMsg.fsrepeat' | translate}}</p>
            <p *ngIf="fsNameRepeatErr" style="color: red">{{'errorMsg.fsrepeat' | translate}}</p>
            <p *ngIf="shareNameRepeatErr" style="color: red">{{'errorMsg.sharerepeat' | translate}}</p>
          </clr-control-error>
        </clr-input-container>
        <clr-checkbox-container>
          <label></label>
          <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox [(ngModel)]="updateNfs.sameName" name="sameName" />
            <label>{{'nfs.sameName' | translate}}</label>
          </clr-checkbox-wrapper>
        </clr-checkbox-container>
        <clr-input-container *ngIf="!updateNfs.sameName">
          <label>{{'nfs.fsName' | translate}}</label>
          <input clrInput [(ngModel)]="updateNfs.fsName" name="fsName" maxlength="256" (blur)="checkFsName();"/>
          <clr-control-error>
            <p *ngIf="!oldFsName" style="color: red">{{'errorMsg.require' | translate}}</p>
            <p *ngIf="matchErr" style="color: red">{{'errorMsg.numberAndLetter' | translate}}</p>
            <p *ngIf="fsNameRepeatErr" style="color: red">{{'errorMsg.fsrepeat' | translate}}</p>
          </clr-control-error>
        </clr-input-container>
<!--        <clr-input-container *ngIf="!updateNfs.sameName">-->
<!--          <label>{{'nfs.shareName' | translate}}</label>-->
<!--          <input clrInput [(ngModel)]="updateNfs.shareName" name="shareName" (blur)="checkShareName();" />-->
<!--          <clr-control-error>-->
<!--            <p *ngIf="!oldShareName" style="color: red">{{'errorMsg.require' | translate}}</p>-->
<!--            <p *ngIf="matchErr" style="color: red">{{'errorMsg.numberAndLetter' | translate}}</p>-->
<!--            <p *ngIf="shareNameRepeatErr" style="color: red">{{'errorMsg.sharerepeat' | translate}}</p>-->
<!--          </clr-control-error>-->
<!--        </clr-input-container>-->
        <!--qos-->
        <clr-toggle-wrapper>
          <label>{{'nfs.qosPolicy' | translate}}</label>
          <input type="checkbox" clrToggle name="qosFlag" [(ngModel)]="updateNfs.qosFlag"/>
        </clr-toggle-wrapper>
        <div *ngIf="updateNfs.qosFlag">
          <clr-radio-container clrInline >
            <label class="floatleft">{{'nfs.controlPolicy' | translate}}</label>
            <clr-radio-wrapper>
              <input type="radio" clrRadio name="controlPolicy" required value="up" [(ngModel)]="updateNfs.contolPolicy" />
              <label>{{'nfs.ulc' | translate}}</label>
            </clr-radio-wrapper>
            <clr-radio-wrapper>
              <input type="radio" clrRadio name="controlPolicy" required value="low" [(ngModel)]="updateNfs.contolPolicy" />
              <label>{{'nfs.llc' | translate}}</label>
            </clr-radio-wrapper>
          </clr-radio-container>
          <div *ngIf="updateNfs.contolPolicy">
            <!-- 交通管制对象 带宽 上限-->
            <clr-checkbox-container *ngIf="updateNfs.contolPolicy==='up'">
              <label>{{'vmfs.trafficControlObject' | translate}}</label>
              <clr-checkbox-wrapper>
                <input type="checkbox" [(ngModel)]="updateNfs.maxBandwidthChoose" name="maxbandwidthChoose" clrCheckbox/>
                <label>
                  {{'vmfs.bandwidthLimitUpper' | translate}}
                  <input type="number" min="0" [(readOnly)]="!updateNfs.maxBandwidthChoose" class="inputOneLine" name="maxBandwidth"
                         [(ngModel)]="updateNfs.maxBandwidth" (blur)="qosBlur('add', 'maxbandwidth');"/>
                  {{'vmfs.unitM' | translate}}
                </label>
              </clr-checkbox-wrapper>
            </clr-checkbox-container>
            <!-- 交通管制对象 IOPS 上限-->
            <clr-checkbox-container *ngIf="updateNfs.contolPolicy==='up'">
              <label></label>
              <clr-checkbox-wrapper>
                <input type="checkbox" [(ngModel)]="updateNfs.maxIopsChoose" name="maxiopsChoose" clrCheckbox/>
                <label>
                  {{'vmfs.IOPSLimitUpper' | translate}}
                  <input type="number" min="0" [(readOnly)]="!updateNfs.maxIopsChoose" class="inputOneLine" name="maxIops"
                         [(ngModel)]="updateNfs.maxIops" (blur)="qosBlur('add', 'maxiops');"/>
                </label>
              </clr-checkbox-wrapper>
            </clr-checkbox-container>

            <!-- 交通管制对象 带宽 下限-->
            <clr-checkbox-container *ngIf="updateNfs.contolPolicy==='low'">
              <label>{{'vmfs.trafficControlObject' | translate}}</label>
              <clr-checkbox-wrapper>
                <input type="checkbox" [(ngModel)]="updateNfs.minBandwidthChoose" name="minbandwidthChoose" clrCheckbox/>
                <label>
                  {{'vmfs.bandwidthLimitLower' | translate}}
                  <input type="number" min="0" [(readOnly)]="!updateNfs.minBandwidthChoose" class="inputOneLine"
                         name="minBandwidth" [(ngModel)]="updateNfs.minBandwidth" (blur)="qosBlur('add', 'minbandwidth');"/>
                  {{'vmfs.unitM' | translate}}
                </label>
              </clr-checkbox-wrapper>
            </clr-checkbox-container>
            <!-- 交通管制对象 IOPS 下限-->
            <clr-checkbox-container *ngIf="updateNfs.contolPolicy==='low'">
              <label></label>
              <clr-checkbox-wrapper>
                <input type="checkbox" [(ngModel)]="updateNfs.minIopsChoose" name="minbandwidthChoose" clrCheckbox/>
                <label>
                  {{'vmfs.IOPSLimitLower' | translate}}
                  <input type="number" min="0" [(readOnly)]="!updateNfs.minIopsChoose" class="inputOneLine" name="minIops"
                         [(ngModel)]="updateNfs.minIops" (blur)="qosBlur('add', 'miniops');"/>
                </label>
              </clr-checkbox-wrapper>
            </clr-checkbox-container>
            <!-- 交通管制对象 latency 时延-->
            <clr-checkbox-container *ngIf="updateNfs.contolPolicy==='low'">
              <label></label>
              <clr-checkbox-wrapper>
                <input type="checkbox" [(ngModel)]="updateNfs.latencyChoose" name="latencyChoose" clrCheckbox/>
                <label>
                  {{'vmfs.latencyMax' | translate}}
                  <input type="number" min="0" [(readOnly)]="!updateNfs.latencyChoose" class="inputOneLine" name="latency"
                         [(ngModel)]="updateNfs.latency" (blur)="qosBlur('add', 'latency');"/>{{'vmfs.latencyUnit' | translate}}
                </label>
              </clr-checkbox-wrapper>
            </clr-checkbox-container>
          </div>
        </div>
        <!--thin-->
        <clr-toggle-wrapper>
          <label> {{'nfs.thin' | translate}}</label>
          <input type="checkbox" name="thin" clrToggle [(ngModel)]="updateNfs.thin"/>
        </clr-toggle-wrapper>
        <!--重删-->
        <clr-select-container class="selectClass">
          <label>{{'nfs.dataDedu' | translate}}</label>
          <select clrSelect [(ngModel)]="updateNfs.deduplicationEnabled" name="deduplicationEnabled">
            <option value="false">{{'nfs.disable' | translate}}</option>
            <option value="true">{{'nfs.enable' | translate}}</option>
          </select>
        </clr-select-container>
        <!--压缩-->
        <clr-select-container class="selectClass">
          <label>{{'nfs.dataCompre' | translate}}</label>
          <select clrSelect [(ngModel)]="updateNfs.compressionEnabled" name="compressionEnabled">
            <option value="false">{{'nfs.disable' | translate}}</option>
            <option value="true">{{'nfs.enable' | translate}}</option>
          </select>
        </clr-select-container>
        <clr-toggle-wrapper >
          <label>{{'nfs.capAuto' | translate}}</label>
          <input type="checkbox" clrToggle [(ngModel)]="updateNfs.autoSizeEnable" name="autoSizeEnable"/>
        </clr-toggle-wrapper>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="closeModel()">{{'menu.cancel' | translate}}</button>
      <button type="button" class="btn btn-primary" (click)="modifyCommit()">{{'menu.ok' | translate}}</button>
    </div>
  </clr-modal>

  <!--操作成功提示-->
  <clr-modal [(clrModalOpen)]="modifySuccessShow" [clrModalSize]="'sm'" [clrModalClosable]="false">
    <h3 class="modal-title modelTile">{{'vmfs.reclaim.title' | translate}}</h3>
    <div class="modal-body">
      <p *ngIf="modifySuccessShow">{{'vmfs.modify.success' | translate}}</p>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" (click)="modifySuccessShow = false;confirmActResult();">{{'menu.ok' | translate}}</button>
    </div>
  </clr-modal>
</div>
