/*.modal-dialog .modal-content {
  height: 500px;
}

.modal-body {
  width: 100%;
  height: 500px;
}*/

/*::ng-deep .modal-footer {
  justify-content: center;
}

::ng-deep .modal-dialog.modal-lg {
  width: 1080px;
}*/

::ng-deep .modal-title-wrapper {
  width: 100%;
}

.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.merginLeft {
  margin-left: 10px;
  border-style: solid;
}

.gh-btngroup-right {
  display: flex;
  justify-content: right;
  align-items: right;
}

.btn + .btn {
  border-left: 0.05rem solid;
}

.color-square {
  display: inline-block;
  vertical-align: text-bottom;
  height: .7rem;
  width: .7rem;
  border: .05rem solid #000;
  border-radius: 2rem;
}
