<clr-modal class="add-wizard-wrap" [(clrModalOpen)]="modifyShow" [clrModalClosable]="false">
  <div class="modal-body">
    <div *ngIf="modalLoading" class="loadingDiv">
      <span>
        {{'vmfs.loadingTips' | translate}}<img src="./assets/images/loading.gif"  width="20px" height="20px" style="margin-left: 20px;">
      </span>
    </div>
    <div *ngIf="nameChecking" class="loadingDiv">
      <span>
        {{'vmfs.nameChecking' | translate}}<img src="./assets/images/loading.gif"  width="20px" height="20px" style="margin-left: 20px;">
      </span>
    </div>
    <div *ngIf="modalHandleLoading" class="loadingDiv">
        <span>
          {{'vmfs.dataHandleLoadingTips' | translate}}<img src="./assets/images/loading.gif"  width="20px" height="20px" style="margin-left: 20px;">
        </span>
    </div>
    <form clrForm >
      <div *ngIf="isOperationErr" class="errorTips" readonly ><clr-icon shape="exclamation-circle" class="is-solid"></clr-icon>{{'errorMsg.modifyError' | translate}}</div>
      <!-- 名称 -->
      <clr-input-container>
        <label style="color: #9F9F9F;">{{'vmfs.name' | translate}}</label>
        <input clrInput  [(ngModel)]="modifyForm.name" (change)="modifyNameChange();" maxlength="256" name="name" #name="ngModel" required/><br>
        <clr-control-helper *ngIf="matchErr">
          <div class="errorTips" readonly >
            <clr-icon shape="exclamation-circle" class="is-solid"></clr-icon>
            {{'validations.nameRequired' | translate}}
          </div>
        </clr-control-helper>
        <clr-control-helper *ngIf="vmfsNameRepeatErr">
          <div class="errorTips" readonly >
            <clr-icon shape="exclamation-circle" class="is-solid"></clr-icon>
            {{'errorMsg.vmfsNameRepeat' | translate}}
          </div>
        </clr-control-helper>
        <clr-control-helper *ngIf="volNameRepeatErr">
          <div class="errorTips" readonly >
            <clr-icon shape="exclamation-circle" class="is-solid"></clr-icon>
            {{'errorMsg.volNameRepeat' | translate}}
          </div>
        </clr-control-helper>
        <clr-control-error>{{'validations.nameRequired' | translate}}</clr-control-error>
      </clr-input-container>
      <clr-checkbox-container>
        <label></label>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="isSameName" [(ngModel)]="modifyForm.isSameName" />
          <label>{{'vmfs.modifyNameDesc' | translate}}</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>

      <div *ngIf="!isServiceLevelData">
        <!--a.SmartTie 设置 -->
        <clr-toggle-wrapper  style="margin-top: 1.2rem;width: 6rem;" class="selectClass" *ngIf="showSmartTierFlag">
          <label>{{'vmfs.smartTier' | translate}}</label>
          <input type="checkbox" clrToggle name="smartTierFlag" [(ngModel)]="modifyForm.smartTierFlag"/>
        </clr-toggle-wrapper>
        <div *ngIf="modifyForm.smartTierFlag">
          <clr-select-container class="selectClass">
            <label style="color: #9F9F9F;">{{'vmfs.smartTierPolicy' | translate}}</label>
            <select clrSelect [(ngModel)]="modifyForm.smartTier" name="smartTier">
              <option value="0">{{'rdm.notMove' | translate}}</option>
              <option value="1">{{'rdm.autoMove' | translate}}</option>
              <option value="2">{{'rdm.highPMove' | translate}}</option>
              <option value="3">{{'rdm.lowPMove' | translate}}</option>
            </select>
            <clr-control-error>{{'validations.required' | translate}}</clr-control-error>
          </clr-select-container>
        </div>

        <!--b.QoS 设置 -->
        <clr-toggle-wrapper  style="margin-top: 1.2rem;width: 6rem;" class="selectClass">
          <label>{{'nfs.qosPolicy' | translate}}</label>
          <input type="checkbox" clrToggle name="qosFlag" [(ngModel)]="modifyForm.qosFlag"/>
        </clr-toggle-wrapper>
        <div *ngIf="modifyForm.qosFlag">
          <!-- 控制策略 -->
          <clr-checkbox-container clrInline>
            <label style="color: #9F9F9F;">{{'vmfs.controlPolicy' | translate}}</label>
            <!--上限-->
            <clr-checkbox-wrapper>
              <input type="checkbox" id="editControl_policyUpper" clrCheckbox (change)="controlPolicyChangeFunc('editControl_policyUpper', 'editControl_policyLower', true, modifyForm, true);" />
              <label>{{'vmfs.upperLimitControl' | translate}}</label>
            </clr-checkbox-wrapper>
            <!--下限-->
            <clr-checkbox-wrapper *ngIf="!showLowerFlag">
              <input type="checkbox" id="editControl_policyLower" clrCheckbox (change)="controlPolicyChangeFunc('editControl_policyUpper', 'editControl_policyLower', true, modifyForm, false);"/>
              <label>{{'vmfs.lowerLimitControl' | translate}}</label>
            </clr-checkbox-wrapper>
          </clr-checkbox-container>
          <!-- 交通管制对象 带宽 上限-->
          <clr-checkbox-container *ngIf="modifyForm.control_policyUpper === '1'">
            <label style="color: #9F9F9F;">{{'vmfs.trafficControlObject' | translate}}</label>
            <clr-checkbox-wrapper>
              <input type="checkbox" [(ngModel)]="modifyForm.maxbandwidthChoose" name="maxbandwidthChoose" clrCheckbox/>
              <label>
                {{'vmfs.bandwidthLimitUpper' | translate}}
                <input type="number" [(readOnly)]="!modifyForm.maxbandwidthChoose" (blur)="qosBlur('modify', 'max_bandwidth');"
                       class="inputOneLine" min="0" name="max_bandwidth" [(ngModel)]="modifyForm.max_bandwidth"/>{{'vmfs.unitM' | translate}}
              </label>
            </clr-checkbox-wrapper>
          </clr-checkbox-container>
          <!-- 交通管制对象 IOPS 上限-->
          <clr-checkbox-container *ngIf="modifyForm.control_policyUpper === '1'">
            <label></label>
            <clr-checkbox-wrapper>
              <input type="checkbox" [(ngModel)]="modifyForm.maxiopsChoose" name="maxiopsChoose" clrCheckbox/>
              <label>
                {{'vmfs.IOPSLimitUpper' | translate}}
                <input type="number" [(readOnly)]="!modifyForm.maxiopsChoose" class="inputOneLine" name="max_iops" min="0"
                       [(ngModel)]="modifyForm.max_iops" (blur)="qosBlur('modify', 'max_iops');" />
              </label>
            </clr-checkbox-wrapper>
          </clr-checkbox-container>

          <!-- 交通管制对象 带宽 下限-->
          <clr-checkbox-container *ngIf="modifyForm.control_policyLower === '0'">
            <label style="color: #9F9F9F;">{{'vmfs.trafficControlObject' | translate}}</label>
            <clr-checkbox-wrapper>
              <input type="checkbox" [(ngModel)]="modifyForm.minbandwidthChoose" name="minbandwidthChoose" clrCheckbox/>
              <label>
                {{'vmfs.bandwidthLimitLower' | translate}}
                <input type="number" [(readOnly)]="!modifyForm.minbandwidthChoose" class="inputOneLine" name="min_bandwidth" min="0"
                       [(ngModel)]="modifyForm.min_bandwidth" (blur)="qosBlur('modify', 'min_bandwidth');" />{{'vmfs.unitM' | translate}}
              </label>
            </clr-checkbox-wrapper>
          </clr-checkbox-container>
          <!-- 交通管制对象 IOPS 下限-->
          <clr-checkbox-container *ngIf="modifyForm.control_policyLower === '0'">
            <label></label>
            <clr-checkbox-wrapper>
              <input type="checkbox" [(ngModel)]="modifyForm.miniopsChoose" name="minbandwidthChoose" clrCheckbox/>
              <label style="width: 190px;">
                {{'vmfs.IOPSLimitLower' | translate}}
                <input type="number" [(readOnly)]="!modifyForm.miniopsChoose" min="0" class="inputOneLine" name="min_iops" [(ngModel)]="modifyForm.min_iops" (blur)="qosBlur('add', 'min_iops');"/>
              </label>
            </clr-checkbox-wrapper>
          </clr-checkbox-container>
          <!-- 交通管制对象 latency 时延-->
          <clr-checkbox-container *ngIf="modifyForm.control_policyLower === '0'">
            <label></label>
            <clr-checkbox-wrapper *ngIf="!latencyIsSelect">
              <input type="checkbox" [(ngModel)]="modifyForm.latencyChoose" name="latencyChoose" clrCheckbox/>
              <label style="width: 190px;">
                {{'vmfs.latencyMax' | translate}}
                <input  *ngIf="!latencyIsSelect" type="number" [(readOnly)]="!modifyForm.latencyChoose" min="0" class="inputOneLine" name="latency" [(ngModel)]="modifyForm.latency" (blur)="qosBlur('add', 'latency');"/>
                {{'vmfs.latencyUnit' | translate}}
              </label>
            </clr-checkbox-wrapper>
            <clr-checkbox-wrapper *ngIf="latencyIsSelect">
              <input type="checkbox" [(ngModel)]="modifyForm.latencyChoose" name="latencyChoose" clrCheckbox/>
              <label style="width: 190px;">
                {{'vmfs.latencyMax' | translate}}
                <select [(disabled)]="!modifyForm.latencyChoose" [(ngModel)]="modifyForm.latency" name="latency" style="height: 1.2rem;width: 54%;border: none;border-bottom: 1px solid;border-bottom-color: var(--clr-forms-border-color, #b3b3b3);">
                  <option value="500">500</option>
                  <option value="1500">1500</option>
                </select>
                {{'vmfs.latencyUnitUs' | translate}}
              </label>
            </clr-checkbox-wrapper>
          </clr-checkbox-container>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancel();">{{'menu.cancel' | translate}}</button>
    <button type="submit" class="btn btn-primary" (click)="modifyNameCheck()">{{'menu.ok' | translate}}</button>
  </div>
</clr-modal>
<!--操作成功提示-->
<clr-modal [(clrModalOpen)]="modifySuccessShow" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <h3 class="modal-title modelTile">{{'vmfs.reclaim.title' | translate}}</h3>
  <div class="modal-body">
    <p *ngIf="modifySuccessShow">{{'vmfs.modify.success' | translate}}</p>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="modifySuccessShow = false;confirmActResult();">{{'menu.ok' | translate}}</button>
  </div>
</clr-modal>
