::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}
table.searchtable{width:100%; margin:0; padding:0; border:0;border-collapse: collapse; font-size: 13px;}
table.searchtable th{ height:35px; text-align:right; font-weight:normal;  padding-right:5px; width:8% }
table.searchtable td{ text-align:left; padding-right:30px; padding-left:3px; width: 15%}
table.searchtable select{
  width: 100%; height: 26px;}
